$services-regions-bg: url('../../../constants/BASE_IMAGE_URL/assets/images/web/regionsbg.png');

.services_regions_wrap {
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  height: 100vh;
  margin: auto;
  background-position: center top;
  background-color: black;
  
  @media (max-width: 600px) {
    background-size: 490px;
  }
  
  @media (max-width: 480px) {
    background-size: contain;
    background-position: center 30px;
  }
}

.video_bg {
  width: 800px;
  height: 600px;
  position: absolute;
  left: 500px;
  z-index: 1;
  top: 0;
  
  @media (max-width: 480px) {
    width: 300px;
    height: 300px;
    left: 0;
  }
}

.cardContainer {
  padding: 80px max(120px, 50% - 550px);
  
  @media (max-width: 960px) {
    padding: 2rem;
  }
  
  @media (max-width: 600px) {
    padding: 1rem;
  }
  
  @media (max-width: 480px) {
    padding: 0;
  }
}

.servicesregions {
  padding-top: 5rem;
  max-width: 390px;
  position: absolute;
  bottom: 100px;
  margin: 0 1rem;
  z-index: 9999;
}

.cut {
  width: 3px;
  height: 10px;
  position: absolute;
  left: 0;
  background: #09090e;
  top: 8px;
}

.button {
  background-color: #FFCC00;
  border: none;
  border-radius: 10px;
  display: inline-block;
  font-family: 'Violet Sans';
  cursor: pointer;
  transition: .2s all ease-in;
  
  &:focus {
    outline: none;
  }
  
  &:hover {
    box-shadow: 0px 15px 20px rgba(0, 0, 0, .1);
    transform: translateY(-7px);
  }
}

.buttonContent {
  display: flex;
  padding: 12px 15px;
  align-items: center;
  font-size: 14px;
  color: #1E1E1E;
  padding-left: 0;
  font-weight: 500;
}

.buttonText {
  margin-left: var(--button-spacing);
  font: normal normal 400 14px/18px Inter;
}
