$title-font: normal normal 500 16px/24px Violet Sans;

.calendar-view {
  max-width: calc(100vw - 160px);
  width: calc(100vw - 160px);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  padding: 40px 0 20px;
  color: #1e1e1e;
}

.text-time-zone {
  color: #757575;
  font: $title-font;
}

.search {
  display: flex;
  align-items: center;
  position: relative;
  width: 320px;
  height: 36px;
  margin: 0;
  padding: 0 12px 0 40px;
  border: 1px solid #d9d9d9;
  color: #1e1e1e;
  font: 14px/24px Violet Sans;
  border-radius: 50px;
  background: #f5f5f5;
  margin-right: 10px;

  input {
    border: none;
    font-family: Violet Sans;
    outline: none;
    background: transparent;
    color: #1e1e1e;
    width: 100%;
    &::placeholder {
      color: #757575;
    }
  }

  img:hover {
    cursor: pointer;
  }
}

.icon-close {
  margin-right: 8px;
}

.row {
  display: flex;
  align-items: center;
}

.spacer {
  flex: 1;
}

.month {
  font: $title-font;
  padding: 6px 20px;
  color: #1e1e1e;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font: normal normal 500 14px/18px Violet Sans;
  color: #1e1e1e;
  border: 0;
  cursor: pointer;
  height: 36px;
  outline: none;
  padding: 0 20px;
  transition: 0.3s;
  border-radius: 2px;

  &.btn-square {
    width: 36px;
    height: 36px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #d9d9d9;
  }

  &.btn-today {
    background: #d9d9d9;
    margin-left: 8px;
    &:hover {
      background: #606060;
    }
  }

  &.btn-sync {
    background: #6788ff;
    margin-left: auto;
    transition: 0.3s;
    &:hover {
      opacity: 0.85;
    }
    img {
      width: 12px;
      height: 12px;
      margin-right: 6px;
    }
  }
}

.calendar-container {
  margin-top: 6px;
  background: #ffffff;
  border-radius: 12px;
  padding: 20px;
  border: 1px solid #d9d9d9;
}

.calendar-header {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 6px;
  margin-top: 12px;
  margin-bottom: 8px;
}

.calendar-header-item {
  display: flex;
  align-items: center;
  justify-content: center;
  font: $title-font;
  color: #757575;
}

.calendar-content {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, auto);
  grid-gap: 6px;
}

.calendar-per-day {
  background: #f5f5f5;
  border-radius: 4px;
  padding: 8px;
  color: #1e1e1e;
  min-height: 120px;
  transition: transform 0.2s;
  display: flex;
  flex-direction: column;
}

.event {
  border-radius: 2px;
  padding: 10px 6px 8px 3px;
  display: flex;
  cursor: pointer;
  margin-bottom: 4px;
  min-height: 48px;
}

.event-info {
  margin-left: 6px;
  color: #1e1e1e;
  display: flex;
  flex-direction: column;
}

.pool-name {
  font: normal normal 500 12px/16px Violet Sans;
}

.filter-bar {
  display: flex;
}

.pagination-bar {
  display: flex;
}

.pagination-btn input {
  cursor: pointer;
  width: 36px;
  height: 36px;
  border-radius: 6px;
  color: #1e1e1e;
  border: 0;
  &:hover {
    opacity: 0.8;
  }
  &:focus {
    outline: none;
  }
  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

