$services-regions-bg: url('../../../constants/BASE_IMAGE_URL/assets/images/web/regionsbg.png');

.services_regions_wrap {
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  height: 100vh;
  margin: auto;
  background-position: center top;
  background-color: black;
  
  @media (max-width: 600px) {
    background-size: 490px;
  }
  
  @media (max-width: 480px) {
    background-size: contain;
    background-position: center 30px;
  }
}

.video_bg {
  width: 800px;
  height: 600px;
  position: absolute;
  left: 500px;
  z-index: 1;
  top: 0;
  
  @media (max-width: 480px) {
    width: 300px;
    height: 300px;
    left: 0;
  }
}

.cardContainer {
  padding: 80px max(120px, 50% - 550px);
  
  @media (max-width: 960px) {
    padding: 2rem;
  }
  
  @media (max-width: 600px) {
    padding: 1rem;
  }
  
  @media (max-width: 480px) {
    padding: 0;
  }
}

.servicesregions {
  padding-top: 5rem;
  max-width: 390px;
  position: absolute;
  bottom: 100px;
  margin: 0 1rem;
  z-index: 9999;
}

.cut {
  width: 3px;
  height: 10px;
  position: absolute;
  left: 0;
  background: #09090e;
  top: 8px;
}

.button {
  background-color: #FFCC00;
  border: none;
  border-radius: 10px;
  display: inline-block;
  font-family: 'Violet Sans';
  cursor: pointer;
  transition: .2s all ease-in;
  
  &:focus {
    outline: none;
  }
  
  &:hover {
    box-shadow: 0px 15px 20px rgba(0, 0, 0, .1);
    transform: translateY(-7px);
  }
}

.buttonContent {
  display: flex;
  padding: 12px 15px;
  align-items: center;
  font-size: 14px;
  color: #1E1E1E;
  padding-left: 0;
  font-weight: 500;
}

.buttonText {
  margin-left: var(--button-spacing);
  font: normal normal 400 14px/18px Inter;
}

.dialog {
  .MuiDialog-paperWidthSm {
    width: 600px;
  }
}

.dialogContent {
  padding: 8px 24px;
  overflow-y: initial;
}

.dialogActions {
  display: flex;
  justify-content: flex-end;
  padding: 8px 24px;
  margin-top: 15px;

  & > *:not(:last-child) {
    margin-right: 5px;
  }
}

.dialogInput {
  border-radius: 5px;
  border: 1px solid black;
  padding: 10px;
  transition: .1s all ease-in;

  &:focus {
    border-color: #FFCC00;
    outline: none;
  }
}

.dialogLabel {
  margin-right: 10px;
  color: #363636;
}

.dialogButton {
  text-transform: inherit;
  background-color: #FFCC00;
  color: white;
  font-weight: 600;

  &:hover {
    background-color: #c29f15;
  }
}

.dialogButtonCancel {
  background-color: #e51d1d;

  &:hover {
    background-color: #a0033b;
  }
}

.countdownPart {
  margin-top: 6px;
  display: inline-block;
  list-style-type: none;
  color: #1e1e1e;
  font: normal normal 500 16px/24px 'Violet Sans';
  
  span {
    display: block;
    text-align: center;
  }
  
  span:first-child {
    width: 32px;
    height: 32px;
    background: transparent;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

.listCountDown {
  display: flex;
  background: transparent;
}

.colon {
  font: normal normal 500 10px/12px 'Violet Sans';
  width: 8px;
  margin: 3px;
  padding-top: 13px;
  display: flex;
  justify-content: center;
  color: #1e1e1e;
}

.countdownInfo {
  font: 8px/10px 'Violet Sans';
  color: #757575;
  margin-top: 2px;
}
