.container {
    position: relative;
    
    img {
      width: 100%;
      height: auto;
    }
    
    > div {
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      width: 100%;
    }
  }
  
  .mainEvent {
    margin: 80px max(100px, 50% - 480px);
    
    img {
      width: auto;
      
      @media (max-width: 960px) {
        max-width: calc(100% - 360px);
      }
    }
  }
  
  .btnDiv {
    display: flex;
    justify-content: space-between;
    
    @media (max-width: 600px) {
      flex-wrap: wrap;
    }
  }
  
  .btnFilters {
    border: none;
    outline: none;
    padding: 3px 12px;
    cursor: pointer;
    color: #1e1e1e;
    background: inherit;
    font: normal normal 500 16px/24px "Violet Sans";
    
    div {
      height: 24px;
      background: transparent;
      border-radius: 50%;
      text-align: center;
      margin-left: 8px;
    }
    
    &.active {
      background: #F5F5F5;
      border-radius: 50px;
    }
  }
  
  .btnViewAllPools {
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 12px;
    margin-left: auto;
    cursor: pointer;
    color: #1e1e1e;
    background: inherit;
    font: normal normal 500 16px/24px "Violet Sans";
    
    img {
      width: 10px;
    }
    
    div {
      width: 24px;
      height: 24px;
      background: transparent;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin-left: 8px;
    }
  }
  
  .listPoolsHeader {
    display: flex;
    align-items: center;
    text-align: center;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 18px !important;
    
    * {
      color: #1e1e1e;
    }
    
    .MuiPaginationItem-page.Mui-disabled {
      cursor: not-allowed;
      pointer-events: auto;
    }
    
    .MuiPagination-ul {
      flex-wrap: nowrap !important;
    }
    
    li {
      .pagination-item {
        font: normal normal 500 14px/18px "Violet Sans";
        background-color: transparent !important;
        color: #757575;
        
        &.Mui-selected {
          color: #1e1e1e;
          border: 1px solid #0066FF;
          border-radius: 4px;
        }
      }
    }
  }
  
  .listPools {
    width: 960px;
    margin: auto;
    max-width: calc(100vw - 60px);
    margin-top: 40px;
    position: relative;
    
    &.live-pools {
      margin-top: 0;
    }
    
    h2 {
      font: normal normal 500 20px/24px "Violet Sans";
      color: #1E1E1E;
      margin-bottom: 16px;
    }
    
    h3 {
      font: normal normal 500 16px/24px "Violet Sans";
      margin-bottom: 16px;
      color: #FFFFFF;
    }
    
    .pools {
      display: grid;
      grid-template-columns: repeat(3, calc(33% - 9.5px));
      gap: 20px;
      margin: auto;
      place-content: center;
      
      @media (max-width: 600px) {
        grid-template-columns: 1fr 1fr;
      }
      
      @media (max-width: 400px) {
        grid-template-columns: 1fr;
      }
    }
  }
  
  .getAlert {
    margin-top: 40px;
    position: relative;
    background-image: url(/assets/images/bg_launch.png);
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  .contentGetAlert {
    width: 1080px;
    margin: auto;
    max-width: calc(100vw - 80px);
    min-height: 224px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
  }
  
  .titleGetAlert {
    font: normal normal bold 32px/36px "Violet Sans";
    text-align: center;
    margin-bottom: 12px;
  }
  
  .tokenSaleTitle {
    display: inline-block;
    margin: 40px max(120px, 50% - 480px);
    color: white;
    position: relative;
    
    h1 {
      color: #1E1E1E;
      font: normal normal 400 40px/48px "Violet Sans";
    }
    
    p {
      color: #757575;
      font: normal normal 400 16px/24px "Violet Sans";
    }
    
    @media (max-width: 600px) {
      margin: 0 20px;
      
      h1 {
        font: normal normal 400 32px/40px "Violet Sans";
      }
    }
  }
  
  @media (max-width: 600px) {
    .listPools {
      width: calc(100% - 56px);
      max-width: calc(100vw - 56px);
      margin: auto;
      margin-bottom: 32px;
      
      h2 {
        font-size: 18px;
        line-height: 26px;
      }
    }
    
    .titleGetAlert {
      font-size: 28px;
      line-height: 32px;
    }
  }