.winnersNumber {
    display: flex;
    max-width: 350px;
    justify-content: space-between;
    margin-bottom: 6px;
  
    span {
      font: 14px/24px "Violet Sans";
    }
    .sub-title {
      color: #757575;
    }
  }
  
  .buyLimit {
    color: #5EFF8B;
    font-weight: 600;
  }
  
  .LotteryWinners {
    width: 100%;
  }
  
  .allocation {
    list-style: disc;
    padding-left: 20px;
  }
  
  .searchBar {
    display: flex;
    @media (max-width: 600px) {
      flex-direction: column;
    }
  }
  
  .tabsRound {
    height: 36px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4px;
    background: #2E2E2E;
    border-radius: 6px;
    padding: 4px;
  
    li {
      font: 14px/24px "Violet Sans";
      padding: 2px 8px;
      cursor: pointer;
    }
  
    .active {
      background: #606060;
      border-radius: 4px;
    }
  }
  
  .title {
    font-family: "Violet Sans";
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;
  
    @media (max-width: 600px) {
      text-align: center;
      font-size: 16px;
      line-height: 24px;
    }
  }
  
  .title2 {
    font-family: "Violet Sans";
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 6px;
  }
  
  .LotteryWinnersDesc {
    margin-top: 15px;
    margin-bottom: 16px;
    font: normal normal normal 14px/24px "Violet Sans";
  }
  
  .LotteryWinnersMessage {
    margin-bottom: 16px;
    font: normal normal normal 14px/24px "Violet Sans";
    font-weight: bold;
    font-size: 15px;
    color: #8db4ff;
  }
  
  .table {
    .MuiTableBody-root td {
      font: normal normal normal 14px/24px "Violet Sans";
    }
    border-collapse: separate;
    border-spacing: 0 6px;
  }
  
  .tableContainer {
    width: 100%;
    background: transparent;
    margin-top: 12px;
  
    th, td {
      font-family: "Violet Sans";
      font-size: 16px;
      line-height: 24px;
      padding: 10px 16px;
      color: #FFFFFF;
    }
    th:first-child {
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
    }
    th:last-child {
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
    }
    th {
      border: 0;
      @media (max-width: 600px) {
        font-size: 14px;
        line-height: 20px;
      }
    }
    tr {
      border: 0;
      background: #2E2E2E;
    }
  }
  
  .tableHeaderWrapper {
    th {
      font: normal normal bold 14px/18px "Violet Sans";
      color: #757575;
      @media (max-width: 600px) {
        font-size: 14px;
        font-family: "Violet Sans";
        font-weight: bold;
      }
    }
    tr th:first-child {
      width: 100px;
    }
    tr {
      background: transparent;
    }
  }
  
  .tableSearchWrapper {
    max-width: 360px;
    width: 100%;
    margin-left: auto;
    position: relative;
    background: #292929;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
  }
  
  .tableSearchIcon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .tableSearch {
    font: normal normal 400 14px/24px "Violet Sans";
    background: transparent;
    padding: 6px 0px 6px 12px;
    border: none;
    color: white;
    width: 90%;
  
    &:focus {
      outline: none;
    }
  
    &::placeholder {
      color: #757575;
      font-weight: normal;
    }
  }
  
  .pagination {
    display: flex;
    justify-content: flex-end;
    margin-top: 12px !important;
  
    * {
      color: #1e1e1e;
    }
    li {
      .pagination-item {
        background-color: transparent !important;
        color: #757575;
        &.Mui-selected {
          color: #1e1e1e;
        }
      }
      &:first-child .pagination-item {
        background-color: #2E2E2E !important;
        border-radius: 6px;
        color: #FFFFFF;
      }
      &:last-child .pagination-item {
        background-color: #2E2E2E !important;
        border-radius: 6px;
        color: #FFFFFF;
      }
    }
  }
  