.pageMyPools {
    background: #ffffff;
    border-radius: 4px;
    padding: 23px 40px;
    border: 1px solid #d9d9d9;
  
    @media (max-width: 600px) {
      padding: 20px 20px;
      background: transparent;
    }
    @media (max-width: 400px) {
      width: 90%;
    }
  }
  
  .title {
    font-family: "Violet Sans";
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #1e1e1e;
    margin-bottom: 8px;
  
    @media (max-width: 600px) {
      text-align: center;
      font-weight: 500;
    }
    @media (max-width: 600px) {
      display: none;
    }
  }
  
  .des {
    font-family: "Violet Sans";
    font-size: 14px;
    line-height: 24px;
    color: #1e1e1e;
    margin-bottom: 12px;
  }
  
  .listDes {
    font-family: "Violet Sans";
    font-size: 14px;
    line-height: 20px;
    color: #757575;
    list-style: disc;
    padding-left: 25px;
    margin-bottom: 30px;
  
    @media (max-width: 600px) {
      margin-bottom: 20px;
    }
  }
  
  .headTable {
    margin-bottom: 9px;
    display: flex;
    justify-content: space-between;
  
    @media (max-width: 600px) {
      flex-direction: column;
    }
  }
  
  .leftFillter {
    @media (max-width: 600px) {
      margin-bottom: 8px;
      display: flex;
      justify-content: space-between;
    }
    @media (max-width: 400px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 8px;
    }
  }
  
  .formControlSelect {
    max-width: 100%;
    background: #222228;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    margin-right: 8px;
  
    @media (max-width: 600px) {
      margin-right: 0;
    }
    @media (max-width: 400px) {
      width: 100%;
      margin: 0;
    }
  }
  
  .selectBox {
    font-family: "Violet Sans";
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
    height: 36px;
    width: 160px;
    border: none;
    background: #292929;
  
    &::before,
    &::after {
      display: none;
    }
  
    select {
      padding-left: 12px;
      height: 22px;
    }
  
    .MuiSelect-select option {
      background-color: #f5f5f5;
    }
  
    .MuiSelect-icon {
      color: #1e1e1e;
      font-size: 20px;
      top: calc(50% - 10px);
      right: 4px;
    }
  
    @media (max-width: 400px) {
      width: 100% !important;
    }
  }
  
  .selectBoxType {
    width: 120px;
  }
  
  .groupSearch {
    width: 320px;
    height: 36px;
    padding: 0 12px 0 40px;
    border: 1px solid #d9d9d9;
    color: #1e1e1e;
    font: 14px/24px "Violet Sans";
    border-radius: 50px;
    background: #f5f5f5;
    margin-right: 10px;
    position: relative;
  
    &:focus {
      outline: none;
    }
  
    input {
      height: 36px;
      width: 100%;
      border: none;
      outline: none;
      padding: 12px;
      background: transparent;
      font-family: "Violet Sans";
      font-size: 14px;
      line-height: 20px;
      color: #757575;
    }
  }
  
  .btnAction {
    background: #ebebeb;
    border-radius: 4px;
    min-width: 112px;
    height: 28px;
    border: none;
    box-shadow: none;
    outline: none;
    font-family: "Violet Sans";
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #000000;
    text-transform: inherit;
  
    &.btnCancelWhitelist {
      background: #d01f36;
      color: #ffffff;
      cursor: pointer;
    }
    &.btnPreOrder {
      background: #ff9330;
      color: #000000;
      cursor: pointer;
    }
    &.btnClaimToken {
      background: #ffd058;
      color: #000000;
      cursor: pointer;
    }
    &:disabled {
      opacity: 0.5;
    }
  }
  
  .backdrop {
    z-index: 1301;
    color: #fff;
  }
  